---
---
<body>
<p class="shutter-logo.png">
<svg xmlns="http://www.w3.org/2000/svg"
</svg>
</p>
</body>

<style>
	       .shutter-scaped-logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
		color: inherit;
	}
	.odyssey-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
